<%- include('partials/header.ejs') %>
<div class="container">
    <hr>
    <h1><%= pergunta.titulo %></h1>
    <p><%= pergunta.descricao %></p>
    <hr>
    <form action="/responder" method="post">
        <label for="corpo">Resposta:</label>
        <textarea name="corpo" id="corpo" rows="5" class="form-control" placeholder="Digite sua resposta"></textarea>
        <input type="hidden" name="pergunta" value="<%= pergunta.id %>">
        <br>

        <button type="submit" class="btn btn-dark">Responder</button>
    </form>
    <hr>
    <h3>Respostas</h3>
    <% respostas.forEach(resposta => { %>
        <br>
        <div class="card">
            <div class="card-body">
                <p><%= resposta.corpo %></p>
            </div>
        </div>
    <% })%>
</div>
<%- include('partials/footer.ejs') %>